/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
div { box-sizing: border-box; -moz-box-sizing: border-box; }
/* End of reset */


html, head { padding: 0px; margin: 0px; }
body {
	color: #4D4E53; /* To match to RS Summer Exhibition 2013 site */
	font-family: 'Earthbound', "Helvetica Neue", Helvetica, sans-serif;
}
body.r2l { }
#page {
	background-color:#269;
	background-image: linear-gradient(rgba(255,255,255,.5) 1px, transparent 2px), linear-gradient(90deg, rgba(255,255,255,.5) 1px, transparent 2px), linear-gradient(rgba(255,255,255,.15) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.15) 1px, transparent 1px);
	background-size: 5em 5em, 5em 5em, 1em 1em, 1em 1em;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
	margin: 0;
	padding: 0px;
	margin: 0px;
	padding: 3em 0 1em 0;
	display: block;
	-moz-box-shadow: inset 0 0 5em #000000;
	-webkit-box-shadow: inset 0 0 5em #000000;
	box-shadow: inset 0 0 5em #000000;
}
h1 { font-size: 2em; margin-bottom: 0.5em; }
h2 { font-size: 1.5em; margin-bottom: 0.5em; }
h3 { font-size: 1.333em; margin-bottom: 0.5em; }
h1, h2, h3 { font-weight: bold; }
p { margin-bottom: 1em; line-height: 1.5em; }
strong { font-weight: bold; }
#output li { margin: 0.5em 0.25em; display: inline-block; background-color: #eee; padding: 1em; }
#output li:last-child { margin-bottom: 0; }
.rocket { font-weight: bold; font-size: 1.2em; text-align: center; }
.operator { margin-bottom: 0.5em; text-align: center; }
.operator img { width: 3em; height: 3em; }


#bar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	right: 0px;
	line-height: 1.5em;
	color: #efefef;
	padding: 0em;
	border-bottom: 1px solid rgba(255,255,255,0.8);
	box-shadow: 0.1em 0.2em 0.25em rgba(0,0,0,0.3);
}
#bar, .dropdown { background-color: rgba(0,0,0,0.85); }
.barmenu {
	float: right;
}
.baritem {
	display: inline-block;
}
.baritem a {
	color: inherit;
	padding: 0.25em 0.5em;
	text-decoration: none;
	display: block;
	height: 1.5em;
}
.baritem:hover {
	background-color: #404040;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.baritem span { margin: 0 0 0 0.25em; }
.barmenu .baritem { float: right; }
img.icon {
	width:1.5em;
	height:1.5em;
	margin: 0;
	float: left;
}
.dropdown {
	display: none;
	z-index: 100;
	position: absolute;
	top: 2em;
	width: auto;
	right: 0;
	padding: 0;
	box-shadow: 0.1em 0.2em 0.2em rgba(0,0,0,0.3);
	border: 1px solid rgba(255,255,255,0.8);
	border-top: 0px;
	border-right: 0px;
}
.dropdown .baritem { float: none; display: block; }
.dropdown li {
	padding: 0.5em 1em;
}
.dropdown.fullwidth {
	width: 100%;
	left: 0px;
	border-left: 0px;
}
#menu { z-index: 102; }
#language { z-index: 101; }
#bar { z-index: 100; }
#summaryext { z-index: 98; }
#messages { z-index: 99; }
.dropdown.fullwidth { color: #efefef; vertical-align: top; }
.dropdown.fullwidth>ul { display:block; }
.dropdown.fullwidth>ul>li { display: inline-block; float: left; width: 33.3%; min-height: 7em; padding: 0px; }
.dropdown.fullwidth>ul>li:nth-child(3n+1) { clear: both;}
.dropdown.fullwidth>h3, #summaryext>ul { margin: 0; }
.dropdown.fullwidth h3 {
	line-height: 1.5em;
	border-bottom: 1px solid white;
}
.dropdown.fullwidth h3 img { margin-right: 0.25em; }
.dropdown.fullwidth ul { display: block; }
.dropdown.fullwidth ul.summary li { padding: 0.25em 0; }
.dropdown.fullwidth ul.summary li ul { margin-top: 0.25em; }
.dropdown.fullwidth ul.summary li ul li { padding: 0.25em 0 0.25em 1.5em; }
.dropdown.fullwidth ul.summary li ul li:last-child { padding-bottom: 0; }
.dropdown.fullwidth .value { float: right; }

#messages.dropdown.fullwidth>ul>li { float: none; width: 100%; clear: both; }


/* Sprites */
img.icon, img.iconbig { opacity: 0.9; filter: alpha(opacity=90); }
div:hover>img.icon { opacity: 1; filter: alpha(opacity=100); }
img.icon,.ui-icon { background:url('../images/icons.png') no-repeat scroll transparent; background-size: 6em; }
img.menu { background-position: -4.5em 0; }
img.cost { background-position: -1.5em 0; }
img.mass { background-position: -1.5em -1.5em; }
img.time { background-position: -1.5em -10.5em; }
img.science { background-position: -1.5em -4.5em; }
img.success { background-position: -1.5em -6em; }
img.error { background-position: -1.5em -7.5em; }
img.warning { background-position: -1.5em -9em; }
img.globe { background-position: -4.5em -4.5em; }
img.config { background-position: -3em -10.5em; }
img.load { background-position: -3em 0em; }
img.save { background-position: -3em -1.5em; }
img.help { background-position: -4.5em -3em; }
img.restart { background-position: -3em -3em; }
img.fullscreen { background-position: -4.5em -6em; }
.fullscreen img.fullscreen { background-position: -4.5em -7.5em; }
.success { color: #f6f6f6; }
.cost { color: #76e300; }
.time { color: #fac900; }
.mass { color: #e0caff; }
.science { color: #69dfff; }
.error { color: #ff4a4a; }
.warning { color: #ffee00; }



#intro, #glossary {
	width: 50em;
	max-width: 95%;
	margin: auto;
	background-color: white;
	padding: 2em;
	border-radius: 1em;
	box-shadow: 0 0 0.25em rgba(255,255,255,0.4);
}
#intro h1, #intro h2 { text-align: center; }


#main {
	display: table;
	display: none;
	height: 400px;
	overflow-y: auto;
}
#main #menubar, #main #output, #main #sidebar {
	display: table-cell;
	vertical-align: top;
	background-color: #eeddcc;
}
#main #menubar { width: 20%; min-width: 150px; }
#main #output { width: 60%; background-color: #ccddee; }
#main #sidebar { width: 20%; min-width: 150px; background-color: #ddeecc; }
.padded { padding: 1em; }
#menubar li { }
#menubar li a {
	padding: 1em;
	display: block;
	text-decoration: none;
	color: inherit;
}
#menubar li a:hover {
	background-color: #eee;
}
p .cost {
	font-weight: bold;
	color: #009d00;
}

#glossary li {
	margin-bottom: 0.5em;
}
#glossary table {
	border-collapse: collapse;
}
#glossary table th { background-color: #404040; color: #e6e6e6; }
#glossary table td, #glossary table th {
	border: 1px solid #404040;
	padding: 0.5em;
	text-align: center;
}
#glossary blockquote {
	text-align: center;
	margin: 1em auto;
}
#glossary h3 { clear: both; }
#glossary .key { font-weight: bold; }
#glossary .mission {
	padding-top: 2.5em;
}
#glossary .mission img {
	float: right;
	margin: 0 0 1em 1em;
	width: 320px;
}


@media only screen and (max-width: 1024px){
	#summaryext>ul>li { width: 50%; }
	#summaryext>ul>li:nth-child(3n+1) { clear: none; }
	#summaryext>ul>li:nth-child(2n+1) { clear: both; }

}
@media only screen and (max-width: 640px){
	.baritem a { padding: 0.25em 0.25em 0.25em 0; }
	.baritem span { margin: 0; }
	.barmenu .baritem span { margin: 0; }
	#menu { left: 0; width: 100%; border-left: 0px; }
	#menu .baritem span { margin-left: 0.5em; }
	.togglebtn { padding-left: 0.25em; }
	#summaryext>ul>li { width: 100%; }
	#summaryext>ul>li { clear: both; float: none; }
	.padded { padding: 0.5em; }
}
@media only screen and (max-width: 500px){
	.baritem a { padding: 0.25em 0.1em 0.25em 0.1em; }
	#summary .baritem img.icon, .baritem .togglewarnings img.icon, .baritem .toggleerrors img.icon { display: none; }
}