/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
div { box-sizing: border-box; -moz-box-sizing: border-box; }
/* End of reset */


html, head { height: 100%; }
body {
	color: #4D4E53; /* To match to RS Summer Exhibition 2013 site */
	font-family: 'Earthbound', "Helvetica Neue", Helvetica, sans-serif;
	width: 100%;
}
body.r2l { }
#application {
	background: black;
	background-image: url('../images/bg.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;
/*
	background-color:#269;
	background-image: linear-gradient(rgba(255,255,255,.5) 1px, transparent 2px), linear-gradient(90deg, rgba(255,255,255,.5) 1px, transparent 2px), linear-gradient(rgba(255,255,255,.15) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.15) 1px, transparent 1px);
	background-size: 5em 5em, 5em 5em, 1em 1em, 1em 1em;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	-moz-box-shadow: inset 0 0 5em #000000;
	-webkit-box-shadow: inset 0 0 5em #000000;
	box-shadow: inset 0 0 5em #000000;
*/
	position: absolute;
	width: 100%;
	min-height: 100%;
}
#application.fullscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
#page {
	padding: 0;
	margin: 0;
	margin-top: 2em;
	padding: 2em 0 2em 0;
	display: block;
}

.fullscreen #page {
	top: 2em;
	z-index: 100;
}
h1 { font-size: 2em; margin-bottom: 0.5em; }
h2 { font-size: 1.5em; margin-bottom: 0.5em; }
h3 { font-size: 1.333em; margin-bottom: 0.5em; }
h1, h2, h3 { font-weight: bold; }
p { margin-bottom: 1em; line-height: 1.5em; }
strong { font-weight: bold; }
#output li { margin: 0.5em 0.25em; display: inline-block; background-color: #eee; padding: 1em; }
#output li:last-child { margin-bottom: 0; }
.rocket { font-weight: bold; font-size: 1.2em; text-align: center; }
.operator { margin-bottom: 0.5em; text-align: center; }
.operator img { width: 3em; height: 3em; }


#bar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	right: 0px;
	line-height: 1.5em;
	color: #efefef;
	padding: 0em;
	border-bottom: 1px solid rgba(255,255,255,0.8);
	box-shadow: 0.1em 0.2em 0.25em rgba(0,0,0,0.3);
}
#bar, .dropdown { background-color: rgba(0,0,0,0.85); }
.barmenu { float: right; }
.rtl .barmenu { float: left; }
.baritem { display: inline-block; }
.baritem a {
	color: inherit;
	padding: 0.5em 0.5em;
	text-decoration: none;
	display: block;
	height: 1.5em;
}
.baritem:hover {
	background-color: #404040;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.baritem span { margin: 0 0 0 0.25em; }
.rtl .baritem span { margin: 0 0.25em 0 0; }
.barmenu .baritem { float: right; }
.rtl .barmenu .baritem { float: left; }
img.icon {
	width:1.5em;
	height:1.5em;
	margin: 0;
	float: left;
}
.rtl img.icon { float: right; }
.dropdown {
	display: none;
	z-index: 100;
	position: absolute;
	top: 2.5em;
	width: auto;
	right: 0;
	padding: 0;
	box-shadow: 0.1em 0.2em 0.2em rgba(0,0,0,0.3);
	border: 1px solid rgba(255,255,255,0.8);
	border-top: 0px;
	border-right: 0px;
}
.rtl .dropdown { left: 0; border-right: 1px solid rgba(255,255,255,0.8); border-left: 0px; right: auto; }
.dropdown .baritem, .rtl .dropdown .baritem { float: none; display: block; }
.dropdown .baritem a { padding: 0.5em 1em; }
.dropdown.fullwidth { width: 100%; left: 0px; border-left: 0px; }
#menu { z-index: 102; }
#language { z-index: 101; }
#bar { z-index: 100; }
#summaryext { z-index: 98; }
#summary { height: 2.5em; overflow: hidden; }
#messages { z-index: 99; }
.dropdown.fullwidth { color: #efefef; vertical-align: top; }
.dropdown.fullwidth>ul { display:block; }
.dropdown.fullwidth>ul>li { display: inline-block; float: left; width: 33.3%; min-height: 7em; padding: 0px; }
.dropdown.fullwidth>ul>li:nth-child(3n+1) { clear: both;}
.dropdown.fullwidth>h3, #summaryext>ul { margin: 0; }
.dropdown.fullwidth h3 {
	line-height: 1.5em;
	border-bottom: 1px solid white;
}
.dropdown.fullwidth h3 img { margin-right: 0.25em; }
.dropdown.fullwidth ul { display: block; }
.dropdown.fullwidth ul.summary li { padding: 0.25em 0; }
.dropdown.fullwidth ul.summary li ul { margin-top: 0.25em; }
.dropdown.fullwidth ul.summary li ul li { padding: 0.25em 0 0.25em 1.5em; }
.dropdown.fullwidth ul.summary li ul li:last-child { padding-bottom: 0; }
.dropdown.fullwidth .value { float: right; }

#messages.dropdown.fullwidth>ul>li { float: none; width: 100%; clear: both; }


/* Sprites */
img.icon, img.iconbig { opacity: 0.9; filter: alpha(opacity=90); }
div:hover>img.icon { opacity: 1; filter: alpha(opacity=100); }
img.icon,.ui-icon { background:url('../images/icons.png') no-repeat scroll transparent; background-size: 6em; }
img.menu { background-position: -4.5em 0; }
img.cost { background-position: -1.5em 0; }
img.mass { background-position: -1.5em -1.5em; }
img.time { background-position: -1.5em -10.5em; }
img.science { background-position: -1.5em -4.5em; }
img.success { background-position: -1.5em -6em; }
img.error { background-position: -1.5em -7.5em; }
img.warning { background-position: -1.5em -9em; }
img.globe { background-position: -4.5em -4.5em; }
img.config { background-position: -3em -10.5em; }
img.save { background-position: -3em -1.5em; }
img.load { background-position: -3em -3em; }
img.back { background-position: -3em -4.5em; }
img.restart { background-position: -4.5em -1.5em; }
img.help { background-position: -4.5em -3em; }
img.fullscreen { background-position: -4.5em -6em; }
img.close { background-position: 0em -10.5em; }
.fullscreen img.fullscreen { background-position: -4.5em -7.5em; }
.success { color: #f6f6f6; }
.cost { color: #76e300; }
.time { color: #fac900; }
.mass { color: #e0caff; }
.science { color: #69dfff; }
.error { color: #ff4a4a; }
.warning { color: #ffee00; }

.scriptonly {
	display: none;
}
.noscriptmsg {
	margin: -4em 0 2em 0;
	padding: 0.5em 1em;
	background-color: #fac900;
	color: #202020;
	text-align: center;
}

#intro, #guide {
	width: 50em;
	max-width: 95%;
	margin: auto;
	background-color: white;
	padding: 2em;
	line-height: 1.5em;
	border-radius: 1em;
	box-shadow: 0 0 0.25em rgba(255,255,255,0.4);
}
#intro h1, #intro h2 { text-align: center; }

#scenarios li { list-style-type: decimal-leading-zero; margin-left: 2em; }
#scenarios li h3 { font-size: 1em; }

#main {
	display: table;
	display: none;
	height: 400px;
	overflow-y: auto;
}
#main #menubar, #main #output, #main #sidebar {
	display: table-cell;
	vertical-align: top;
	background-color: #eeddcc;
}
#main #menubar { width: 20%; min-width: 150px; }
#main #output { width: 60%; background-color: #ccddee; }
#main #sidebar { width: 20%; min-width: 150px; background-color: #ddeecc; }
.padded { padding: 1em; }
#menubar li { }
#menubar li a {
	padding: 1em;
	display: block;
	text-decoration: none;
	color: inherit;
}
#menubar li a:hover {
	background-color: #eee;
}
p .cost {
	font-weight: bold;
	color: #009d00;
}

body.showguide #bar { display: none; }
body.showguide #page { margin: 0em; }

#guide .guidetop { display: block; }
#guide .guidetop p { margin-bottom: 0px; }
#guide .close { float: right; cursor: pointer; }
.rtl #guide .close { float: left; }
/* Hack to stop anchor tags sitting behind the fixed header */
#guide h2[id]:before,#guide h3[id]:before,#guide div[id]:before {
    content:"";
    display:block;
    height: 1em;
}
#guide li { margin-bottom: 0.5em; }
#guide ul.index li { margin-right: 1em; width: 48%; width: -webkit-calc(50% - 0.5em); width: calc(50% - 0.5em); display: inline-block; vertical-align: top; margin-bottom: 1em; }
#guide ul.index li:nth-child(2n) { margin-right: 0; }
#guide table { border-collapse: collapse; margin: 0 auto 1em; max-width: 100%; }
#guide table th { background-color: #404040; color: #e6e6e6; }
#guide table td, #guide table th {
	border: 1px solid #404040;
	padding: 0.5em;
	text-align: center;
}
#guide table th a { color: #66aada; }
#guide .tablewrapper { max-width: 100%; overflow: hidden; overflow-x: auto; margin-bottom: 1em; }
#guide .tablewrapper table { margin-bottom: 0; }

#guide blockquote {
	text-align: center;
	margin: 1em auto;
}
#guide h3 { clear: both; margin-top: 1em; }
#guide .key { font-weight: bold; }
#guide figure {
	text-align: center;
	width: 290px;
	max-width: 100%;
	margin: auto;
}
#guide figure.fullwidth, #guide .fullwidth figure { width: 100%; }
#guide figure img { width: 100%; }
#guide figure.right { float: right; margin: 0 0 1em 1em; }
#guide figure.four { width: 100%; }
#guide figure.four figure { float: left; width: 23%; width: -webkit-calc(25% - 0.75em); width: calc(25% - 0.75em); margin-right: 1em; }
#guide figure.four figure:last-child { margin-right: 0; }
#guide figure figcaption { font-size: 0.8em; }
.clearall { clear: both; }


@media only screen and (max-width: 1024px){
	#summaryext>ul>li { width: 50%; }
	#summaryext>ul>li:nth-child(3n+1) { clear: none; }
	#summaryext>ul>li:nth-child(2n+1) { clear: both; }

}
@media only screen and (max-width: 640px){
	.baritem a { padding: 0.25em 0.25em 0.25em 0; }
	.baritem span { margin: 0; }
	.barmenu .baritem span { margin: 0; }
	#menu { left: 0; width: 100%; border-left: 0px; }
	#menu .baritem span { margin-left: 0.5em; }
	.togglebtn { padding-left: 0.25em; }
	#summaryext>ul>li { width: 100%; }
	#summaryext>ul>li { clear: both; float: none; }
	.padded { padding: 0.5em; }
	#guide figure.four figure { width: 48%; width: -webkit-calc(50% - 0.5em); width: calc(50% - 0.5em); }
	#guide figure.four figure:nth-child(2n) { margin-right: 0; }
	#guide table { width: 100%; }
	#guide table td, #guide table th { padding: 0.25em; }
	#summary { height: 2em; overflow: hidden; }
}
@media only screen and (max-width: 500px){
	.baritem a { padding: 0.25em 0.1em 0.25em 0.1em; }
	#summary .baritem img.icon, .baritem .togglewarnings img.icon, .baritem .toggleerrors img.icon { display: none; }
	.dropdown { top: 2em; }
	#page { padding-top: 0em; padding-bottom: 0px; }
	#intro, #guide { padding: 1.5em; width: 100%; max-width: 100%; border-radius: 0px; }
	#guide figure.left,#guide figure.right, #guide figure.four figure {
		float: none;
		width: 100%;
		margin: 0 0 1em 0;
	}
	#guide ul.index li { margin-right: 0em; width: 100%; }
	#bar { padding: 0 0.25em; }
	.noscriptmsg { margin-top: -2em; margin-bottom: 0; }
}