/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* apply a natural box layout model to all elements */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* End of reset */


html, head { height: 100%; }
body {
	color: #4D4E53; /* To match to RS Summer Exhibition 2013 site */
	font-family: 'Earthbound', "Helvetica Neue", Helvetica, sans-serif;
	width: 100%;
}

body.r2l { }

a { text-decoration: none; color: #396bad; color: #1FA5DE; font-weight: bold; }
a:hover, a:focus { text-decoration: underline; }
a:visited { color: #2255cc; color: #1FA5DE; }
em { font-style: italic; }


ul.files { list-style-type: disc; margin-bottom: 1em; }
ul.files li { margin-left: 2em; }
.light { color: #4D4E53; background-color: rgba(255,255,255,0.9)!important; }
.dark { color: #f6f6f6; background-color: rgba(0,0,0,0.9)!important; }
.dark a { color: #b3b3b3; }

#modalbg { background-color: rgba(0,0,0,0.7); position: absolute; }
#application {
	background: black;
	background-image: url('../images/bg.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;
/*
	background-color:#269;
	background-image: linear-gradient(rgba(255,255,255,.5) 1px, transparent 2px), linear-gradient(90deg, rgba(255,255,255,.5) 1px, transparent 2px), linear-gradient(rgba(255,255,255,.15) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.15) 1px, transparent 1px);
	background-size: 5em 5em, 5em 5em, 1em 1em, 1em 1em;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	-moz-box-shadow: inset 0 0 5em #000000;
	-webkit-box-shadow: inset 0 0 5em #000000;
	box-shadow: inset 0 0 5em #000000;
*/
	position: absolute;
	width: 100%;
	min-height: 100%;
}
#application.fullscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
#page {
	padding: 0;
	margin: 0;
	margin-top: 2.5em;
	padding: 2em 0 2em 0;
	display: block;
}

.fullscreen #page {
	top: 2em;
	z-index: 100;
}
h1 { font-size: 2em; margin-bottom: 0.5em; }
h2 { font-size: 1.5em; margin-bottom: 0.5em; }
h3 { font-size: 1.333em; margin-bottom: 0.5em; }
h1, h2, h3 { font-weight: bold; }
p { margin-bottom: 1em; line-height: 1.5em; }
strong { font-weight: bold; }


#bar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	right: 0px;
	line-height: 1.5em;
	color: #efefef;
	padding: 0em;
	border-bottom: 1px solid;
	box-shadow: 0.1em 0.2em 0.25em rgba(0,0,0,0.3);
	background-color: #000000;
	background-image:-moz-linear-gradient(top,#000000,#101010);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#000000),to(#101010));
	background-image:-webkit-linear-gradient(top,#000000,#101010);
	background-image:-o-linear-gradient(top,#000000,#101010);
	background-image:linear-gradient(to bottom,#000000,#101010);
	background-repeat:repeat-x;
}

#bar, .dropdown { background-color: rgba(0,0,0,0.85); }

.dropdown {
	box-shadow: 0.1em 0.2em 0.25em rgba(0,0,0,0.3);
	background-color: #101010;
	background-image:-moz-linear-gradient(top,#101010,#000000);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#101010),to(#000000));
	background-image:-webkit-linear-gradient(top,#101010,#000000);
	background-image:-o-linear-gradient(top,#101010,#000000);
	background-image:linear-gradient(to bottom,#101010,#000000);
	background-repeat:repeat-x;
}
.barmenu { float: right; }
.rtl .barmenu { float: left; }
.baritem { display: inline-block; }
.baritem a {
	color: inherit;
	padding: 0.75em;
	text-decoration: none;
	display: block;
	height: 3em;
}
.baritem:hover, .baritem a:focus {
	background-color: #404040;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.baritem span { margin: 0 0 0 0.25em; }
.rtl .baritem span { margin: 0 0.25em 0 0; }
.barmenu .baritem { float: right; }
.rtl .barmenu .baritem { float: left; }
img.icon {
	width:1.5em;
	height:1.5em;
	margin: 0;
	float: left;
}
.rtl img.icon { float: right; }
.dropdown {
	display: none;
	z-index: 100;
	position: absolute;
	top: 3em;
	width: auto;
	right: 0;
	padding: 0;
	box-shadow: 0.1em 0.2em 0.2em rgba(0,0,0,0.3);
	border: 1px solid rgba(255,255,255,0.8);
	border-top: 0px;
	border-right: 0px;
}
.rtl .dropdown { left: 0; border-right: 1px solid rgba(255,255,255,0.8); border-left: 0px; right: auto; }
.dropdown .baritem, .rtl .dropdown .baritem { float: none; display: block; }
.dropdown .baritem a { padding: 0.75em 1em; }
.dropdown.fullwidth { width: 100%; left: 0px; border-left: 0px; }

#menu { z-index: 102; }
#language { z-index: 101; }
#bar { z-index: 100; }
#summaryext { z-index: 98; }
#messages { z-index: 99; }
#modalbg { z-index: 104; }
#options { z-index: 105; }

#designer, #options, #scenarios, .errors, .warnings, #launch { display: none; }

#summary { height: 3em; overflow: hidden; display: none; }
.dropdown.fullwidth { color: #efefef; vertical-align: top; }
#summaryext.dropdown.fullwidth>ul { display:block; }
#summaryext.dropdown.fullwidth>ul>li { display: inline-block; float: left; width: 33.3%; min-height: 7em; }
#summaryext.dropdown.fullwidth>ul>li:nth-child(3n+1) { clear: both;}
.dropdown.fullwidth>h3, #summaryext>ul, #options>ul { margin: 0; }
.dropdown.fullwidth h3 {
	line-height: 1.5em;
	border-bottom: 1px solid white;
	font-weight: normal;
	/*text-transform: uppercase;*/
}
.dropdown.fullwidth h3 img { margin-right: 0.25em; }
.dropdown.fullwidth ul { display: block; }
.dropdown.fullwidth ul.summary li { padding: 0.25em 0; }
.dropdown.fullwidth ul.summary li ul { margin-top: 0.25em; }
.dropdown.fullwidth ul.summary li ul li { padding: 0.25em 0 0.25em 1.5em; }
.dropdown.fullwidth ul.summary li ul li:last-child { padding-bottom: 0; }
.dropdown.fullwidth .value { float: right; }
.dropdown.fullwidth ul.summary ul .value { color: inherit; }

#options li { margin-top: 1em; }
.options li { margin-bottom: 1em; }
li select, li input, li .toggleinput { float: right; font-size: 1em; font-family: Arial, sans-serif; }
textarea { width: 100%; height: 5.5em;}
.rtl li select, .rtl li input, .rtl li .toggleinput { float: left; }


/* Sprites */
img.icon, img.iconbig { opacity: 0.9; filter: alpha(opacity=90); }
a:hover>img.icon { opacity: 1; filter: alpha(opacity=100); }
img.icon,.ui-icon { background:url('../images/icons.png') no-repeat scroll transparent; background-size: 6em; }
img.menu { background-position: -3em 0; }
img.cost { background-position: -1.5em 0; }
img.mass { background-position: -1.5em -1.5em; }
img.time { background-position: -1.5em -3em; }
img.science { background-position: -1.5em -4.5em; }
img.success { background-position: -1.5em -6em; }
img.error { background-position: -1.5em -7.5em; }
img.warning { background-position: -1.5em -9em; }
img.globe { background-position: -3em -6em; }
img.add { background-position: -4.5em -6em; }
img.minus { background-position: -4.5em -7.5em; }
img.profile { background-position: -1.5em -10.5em; }
img.options { background-position: -3em -10.5em; }
img.save { background-position: -3em -1.5em; }
img.load { background-position: -3em -3em; }
img.back { background-position: -3em -4.5em; }
img.restart { background-position: -4.5em -1.5em; }
img.help { background-position: -4.5em -3em; }
img.fullscreen { background-position: -3em -7.5em; }
img.close { background-position: -4.5em -10.5em; }
.fullscreen img.fullscreen { background-position: -3em -9em; }
.success { color: #ffffff; }
.cost { color: #76e300; }
.time { color: #fac900; }
.mass { color: #e0caff; }
.science { color: #69dfff; }
.profile { color: #f6dc8c; }
.error { color: #ff4a4a; }
.warning { color: #ffee00; }

.view .cost { font-weight: bold; color: #009d00; }

/*
a.toggletime:hover { padding-bottom: 0.3em; border-bottom: 0.2em solid #fac900; }
a.togglesuccess:hover { padding-bottom: 0.3em; border-bottom: 0.2em solid #f6f6f6; }
a.togglecost:hover { padding-bottom: 0.3em; border-bottom: 0.2em solid #76e300; }
a.togglemass:hover { padding-bottom: 0.3em; border-bottom: 0.2em solid #e0caff; }
a.togglescience:hover { padding-bottom: 0.3em; border-bottom: 0.2em solid #69dfff; }
*/

.scriptonly {
	display: none;
}
.noscriptmsg {
	margin: -4.5em 0 2em 0;
	padding: 0.5em 1em;
	background-color: #fac900;
	color: #202020;
	text-align: center;
}

.view, #intro, #guide {
	width: 50em;
	max-width: 95%;
	margin: auto;
	background-color: white;
	padding: 2em;
	line-height: 1.5em;
	border-radius: 2px;
	box-shadow: 0 0 0.25em rgba(255,255,255,0.4);
}
#intro h1, #intro h2 { text-align: center; }

#scenarios li { list-style-type: decimal-leading-zero; margin-left: 2em; }
#scenariolist li { list-style: none; margin-left: 0px; margin-right: 2em; margin-bottom: 2em; vertical-align: top; border: 1px solid black; width: 47.5%; width: -webkit-calc(50% - 1em); width: calc(50% - 1em); display: inline-block; background-color: #f6f6f6; }
#scenariolist li:nth-child(2n) { margin-right: 0px; }
#scenarios li h3 { font-size: 1.1em; }

.padded { padding: 1em; }
.bigpadded { padding: 2em; }
.hugepadded { padding: 4em; }
#menubar li { text-align: right; }
#menubar li a, #designer .designer_title a {
	padding: 0.75em 1em;
	height: 3em;
	display: block;
	text-decoration: none;
	color: inherit;
	font-weight: normal;
}
#menubar li a {
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
#menubar li a:hover, #menubar li a:focus {
	color: #202020;
	background-color: #cccccc;
	background: -moz-linear-gradient(left,  rgba(204,204,204,0) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,204,204,0)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccc', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */
}
#menubar li.on a {
	color: #202020;
	background-color: #FFFFFF;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

#messages ul.summary { list-style: disc; margin-left: 1em; }

#designer {
	width: 80em;
	padding: 0;
	background-color: transparent;
	box-shadow: none;
}
.designer_inner { background-color: rgba(0,0,0,0.7); -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; }
#designer .designer_title { display:none; }
#designer form li:last-child { margin-bottom: 0px; }
#designer .intro.bigpadded, #designer .summary.bigpadded { padding-bottom: 0px; }
#designer .details { margin-top: 1em; }
#designer .banner { position: relative; height: 8em; line-height: 8em; overflow: hidden; text-align: center; vertical-align: bottom; margin: 2px; background-color: #202020; background-position: center center; background-size: cover; }
#designer .banner .title {
	color: #ffffff;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 0px 0px 4px black;
}
#designer .details, #designer_vehicle li.withinfo { background-color: #e6e6e6; }

#designer_objectives blockquote { background-color: #f6f6f6; border: 1px solid #d6d6d6; }
#designer_instruments li input { width: 8em; }
#designer_instruments li input, #designer_instruments li select { float: left; margin-right: 0.25em; }
#designer_instruments label { display: none; }
#designer_instruments .details { clear: both; }
#designer_instruments .instrument_list { padding-top: 0em; }
#designer_instruments table { width: 100%; }
#designer_instruments table td img.icon { width: 1.5em; height: 1.2em; }
#designer_instruments a.add_instrument { display: inline-block; padding: 0.2em; float: right; }
#designer_instruments a.add_instrument img { display: block; }
#designer_instruments a.add_instrument { background-color: #e6e6e6; }
#designer_cooling li.hascooling { display: none; }
#designer_vehicle li { cursor: pointer; margin: 0; display: inline-block; }
#designer_vehicle .selector { text-align: center; margin-bottom: 1em; }
#designer_vehicle .selector label { display: none; }
#designer_vehicle input { margin: auto; float: none; }
#designer_vehicle li .vehicle_details { display: none; }
#designer_vehicle .details { margin-top: 0px; }
#designer_vehicle li:hover, #designer_vehicle li:focus { background-color: #f6f6f6; }
#designer_vehicle li.selected {
	background-color: #cccccc;
	background-image:-moz-linear-gradient(top,#202020,#cccccc);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#202020),to(#cccccc));
	background-image:-webkit-linear-gradient(top,#202020,#cccccc);
	background-image:-o-linear-gradient(top,#202020,#cccccc);
	background-image:linear-gradient(to bottom,#202020,#cccccc);
	background-repeat:repeat-x;
}
#designer_vehicle li.withinfo { background-color: #e6e6e6; }
#designer_vehicle li.selected.withinfo {
	background-color: #e6e6e6;
	background-image:-moz-linear-gradient(top,#202020,#e6e6e6);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#202020),to(#e6e6e6));
	background-image:-webkit-linear-gradient(top,#202020,#e6e6e6);
	background-image:-o-linear-gradient(top,#202020,#e6e6e6);
	background-image:linear-gradient(to bottom,#202020,#e6e6e6);
	background-repeat:repeat-x;
}
#designer_vehicle .image { display: inline-block; width: 100%; text-align: center; }
#designer_vehicle .image img { width: auto; max-width: 100%; }
#designer_vehicle li .operator { text-align: center; }
#designer_vehicle li .operator img { width: 3em; height: auto; max-width: 80%; }
#designer_vehicle .details .rocket { font-weight: bold; font-size: 1.2em; margin-bottom: 0.5em; }
#designer_vehicle .details .value { float: right; text-align: right; }
#designer_vehicle .details .details { clear: both; }
#designer_vehicle .details .button { margin: auto; float: right;}
#designer_vehicle .mass { color: inherit; }

.worldmap { position: relative; }
#designer_site .worldmap img { width: 100%; border: 2px solid white; }
.worldmap .launchsite { position: absolute; border: 4px solid white; margin-left: -4px; margin-top: -4px; border-radius: 4px; }
#designer_site .worldmap .launchsite:hover,#designer_site .worldmap .launchsite:focus { border: 8px solid white; margin-left: -8px; margin-top: -8px; border-radius: 8px; box-shadow: 0px 0px 8px white; }
#designer_site .worldmap .launchsite.selected { border-color: #fac900; }
#designer_site .details div { clear: both; }
#designer .details .value { float: right; text-align: right; }

#designer_orbit #orbits {
	width: 99%;
	width: calc(100% - 4px);
	margin: 2px;

	background-color: #101010;
	background-image:-moz-linear-gradient(top,#101010,#000000);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#101010),to(#000000));
	background-image:-webkit-linear-gradient(top,#101010,#000000);
	background-image:-o-linear-gradient(top,#101010,#000000);
	background-image:linear-gradient(to bottom,#101010,#000000);
	background-repeat:repeat-x;
}
#designer_proposal label { display: none; }

#main {
	display: table;
	width: 100%;
	max-width: 100%;
	margin: auto;
	height: 480px;
	overflow-y: auto;
}
#main #menubar, #main #output, #main #sidebar {
	display: table-cell;
	vertical-align: top;
}
#main #menubar {
	width: 25%; min-width: 150px; color: #FFFFFF;
}
#main #output { width: 50%; background-color: #FFFFFF;
	-webkit-border-bottom-left-radius: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	border-bottom-left-radius: 0.5em;
}
#main #sidebar {
	width: 25%;
	min-width: 150px;
	color: #f6f6f6;
	background-color: rgba(34,101,153,0.7);
	background-image: -webkit-linear-gradient(rgba(255,255,255,.3) 2px, transparent 2px), -webkit-linear-gradient(0deg, rgba(255,255,255,.3) 2px, transparent 2px), -webkit-linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px), -webkit-linear-gradient(0deg, rgba(255, 255, 255, .1) 1px, transparent 1px);
	background-image: linear-gradient(rgba(255,255,255,.3) 1px, transparent 2px), linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 2px), linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
	background-size: 5em 5em, 5em 5em, 1em 1em, 1em 1em;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	-moz-box-shadow: inset 0 0 5em rgba(0,0,0,0.7);
	-webkit-box-shadow: inset 0 0 5em rgba(0,0,0,0.7);
	box-shadow: inset 0 0 5em rgba(0,0,0,0.7);
	-webkit-border-top-right-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-moz-border-radius-topright: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
/*
	background-color: #000000;
	background-image:-moz-linear-gradient(top,#000000,#101010);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#000000),to(#101010));
	background-image:-webkit-linear-gradient(top,#000000,#101010);
	background-image:-o-linear-gradient(top,#000000,#101010);
	background-image:linear-gradient(to bottom,#000000,#101010);
	background-repeat:repeat-x;
*/
}
#main .doc { padding: 4em 3em 2em 3em; }
#main .doc p.letter_date { text-align: right; }
#main .doc p { margin-bottom: 1.5em; }
#main .doc h3 { font-size: 1.2em; margin: 1.5em 0 0.5em 0;}
#main .doc ul li { line-height: 2em; }
#main .doc .userinput { font-weight: bold; }
#main .doc .emptyinput { color: #df0000; }

#sidebar { border: 2px solid white; border-left: 0px; }
#sidebar .sidebar_inner { background-color: rgba(0,0,0,0.2); }
#sidebar .panel { border-bottom: 2px solid #ffffff; }
#sidebar img { max-width: 100%; width: 100%; }
#sidebar .satellite { line-height: 0px; }
#sidebar #schematic { position: relative; }
#sidebar .satellite .label { font-size: 0.7em; position: absolute; text-align: left; z-index: 10; background-color: black; transform-origin: 0% 0%; line-height: 1em; padding: 0.1em 0.2em; }
#sidebar .satellite .label.top { -webkit-transform: skewY(-26.6deg); -moz-transform: skewY(-26.6deg); -o-transform: skewY(-26.6deg); }
#sidebar .satellite .label.bottom { -webkit-transform: skewY(26.6deg); -moz-transform: skewY(26.6deg); -o-transform: skewY(26.6deg); }
#sidebar .vehicle { display: table; width: 100%; }
#sidebar .vehicle .image { height: 110px; display: table-cell; vertical-align: bottom; text-align: center; }
#sidebar .vehicle .image img { max-height: 100%; width: auto; }
#sidebar .vehicle .info { padding-left: 1em;  display: table-cell; }
#sidebar .worldmap { line-height: 0; }

.togglelaunch { display: none; -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #263c6f;background: #263c6f;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF004f00, endColorstr=#FF009d00);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#1b5278),to(#263c6f));background-image: -webkit-linear-gradient(top,#1b5278,#263c6f);background-image: -moz-linear-gradient(top,#1b5278,#263c6f);background-image: -o-linear-gradient(top,#1b5278,#263c6f);background-image: linear-gradient(top,#1b5278,#263c6f); }
.togglelaunch:hover, .togglelaunch:focus { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #263c6f;background: #263c6f;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF1b5278, endColorstr=#FF1a294b);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#1b5278),to(#1a294b));background-image: -webkit-linear-gradient(top,#1b5278,#1a294b);background-image: -moz-linear-gradient(top,#1b5278,#1a294b);background-image: -o-linear-gradient(top,#1b5278,#1a294b);background-image: linear-gradient(top,#1b5278,#1a294b); }
#launch li span.value { float: right; }
#launch li.indent { margin-left: 1em; }
#launchvideo { text-align: center; }
#launchvideo iframe { margin: auto; max-width: 100%; }



body.showguide #bar, body.showlaunch #bar { display: none; }
body.showguide #page, body.showlaunch #page { margin: 0em; }

.view .close { float: right; cursor: pointer; }
.view .helper { float: right; cursor: pointer; }
.rtl .view .close,.rtl .view .helper { float: left; }

table { border-collapse: collapse; margin: 0 auto 1em; max-width: 100%; }
table th { background-color: #404040; color: #e6e6e6; }
table td, table th {
	border: 1px solid #404040;
	padding: 0.5em;
	text-align: center;
}
table th a { color: #66aada; }
.tablewrapper { max-width: 100%; overflow: hidden; overflow-x: auto; margin-bottom: 1em; }
.tablewrapper table { margin-bottom: 0; }


#guide .guidetop { display: block; }
#guide .guidetop p { margin-bottom: 0px; }
/* Hack to stop anchor tags sitting behind the fixed header */
#guide h2[id]:before,#guide h3[id]:before,#guide div[id]:before {
    content:"";
    display:block;
    height: 1em;
}
#guide li { margin-bottom: 0.5em; }
#guide ul.index li { margin-right: 1em; width: 48%; width: -webkit-calc(50% - 0.5em); width: calc(50% - 0.5em); display: inline-block; vertical-align: top; margin-bottom: 1em; }
#guide ul.index li:nth-child(2n) { margin-right: 0; }
#guide blockquote { text-align: center; margin: 1em auto; }
#guide h3 { clear: both; margin-top: 1em; }
#guide .key { font-weight: bold; }
#guide figure { text-align: center; width: 290px; max-width: 100%; margin: auto; }
#guide figure.fullwidth, #guide .fullwidth figure { width: 100%; }
#guide figure img { width: 100%; }
#guide figure.right { float: right; margin: 0 0 1em 1em; }
#guide figure.four { width: 100%; }
#guide figure.four figure { float: left; width: 23%; width: -webkit-calc(25% - 0.75em); width: calc(25% - 0.75em); margin-right: 1em; }
#guide figure.four figure:last-child { margin-right: 0; }
#guide figure figcaption { font-size: 0.8em; }
#guide ol li { list-style-type: decimal; margin-left: 1.5em; }
#guide .equation { margin:auto; text-align: center; }
.clearall { clear: both; }


.centre { text-align: center; }

a.button { text-decoration: none; color: inherit; }
.button {
	font: inherit;
	-webkit-appearance: none;
	padding: 0.5em 1em;
	display: inline-block;
	border: 1px solid #b3b3b3;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	cursor: pointer;
	min-width: 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	/* Internet Explorer */*background: #F6F6F6;
	background: #F6F6F6;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFF6F6F6, endColorstr=#FFf1f1f1);
	/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#F6F6F6),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#F6F6F6,#f1f1f1);
	background-image: -moz-linear-gradient(top,#F6F6F6,#f1f1f1);
	background-image: -o-linear-gradient(top,#F6F6F6,#f1f1f1);
	background-image: linear-gradient(top,#F6F6F6,#f1f1f1);
	text-decoration: none;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.button:hover, .button:focus {
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	border-color: #999999;
	color: black;
	/* Internet Explorer */*background: #F6F6F6;
	background: #F6F6F6;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFF6F6F6, endColorstr=#FFd6d6d6);
	/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#F6F6F6),to(#d6d6d6));
	background-image: -webkit-linear-gradient(top,#F6F6F6,#d6d6d6);
	background-image: -moz-linear-gradient(top,#F6F6F6,#d6d6d6);
	background-image: -o-linear-gradient(top,#F6F6F6,#d6d6d6);
	background-image: linear-gradient(top,#F6F6F6,#d6d6d6);
	text-decoration: none;
}
.button:active {
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.2) inset;
}
.button:focus, .button:hover {
	box-shadow: 0 0 4px 2px #3366DD;
	-moz-box-shadow: 0px 1px 3px #3366DD;
	-webkit-box-shadow: 0px 1px 3px #3366DD;
}
input.button { padding: 6px 8px; /* Bug fix for Firefox over-riding the line-height */ }
.button.icon { padding: 0px; width: 2em; }
.button.icon img { margin: 0px; padding: 0px; display: inline-block; width:2em; height: 2em; }
#extramenu .buttons { position: relative; }
.button[aria-hidden="true"] { display: none; }
.button[aria-hidden="true"].keepvisible { display: inline-block; opacity: 0.2; filter: alpha(opacity=20); background-color: #e6e6e6; }
.button.fancybtn { color: white; border-color: #1b5278; -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #263c6f;background: #263c6f;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF004f00, endColorstr=#FF009d00);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#1b5278),to(#263c6f));background-image: -webkit-linear-gradient(top,#1b5278,#263c6f);background-image: -moz-linear-gradient(top,#1b5278,#263c6f);background-image: -o-linear-gradient(top,#1b5278,#263c6f);background-image: linear-gradient(top,#1b5278,#263c6f); }
.button.fancybtn:hover, .button.fancybtn:focus { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #263c6f;background: #263c6f;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF1b5278, endColorstr=#FF1a294b);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#1b5278),to(#1a294b));background-image: -webkit-linear-gradient(top,#1b5278,#1a294b);background-image: -moz-linear-gradient(top,#1b5278,#1a294b);background-image: -o-linear-gradient(top,#1b5278,#1a294b);background-image: linear-gradient(top,#1b5278,#1a294b); }


/* form toggle */
.toggleinput { vertical-align: middle; }
.toggle-label1, .toggle-label2 { display: inline; position: relative; }
.toggle-bg { display: inline-block; }
.toggle-label1 { margin-right: 5px; }
.toggle-label2 { margin-left: 5px; }
.toggle-bg {
	background: #cccccc;
	border-radius: 1em;	
	box-shadow: inset 0 0 3px rgba(0,0,0,0.4), inset 0 10px 0px rgba(0,0,0,0.05);
	position: relative;
	cursor: pointer;
	white-space: nowrap;
}
.toggle-bg input {
	height: 1.25em;
	left: 0;
	margin: 0; /* Reset the margins and padding */
	opacity: 0.0; /* Invisible! */
	padding: 0;
	position: absolute;
	top: 0;
	z-index: 2;
		/*IE*/
		zoom: 1;
		filter: alpha(opacity=0);
	cursor: pointer;
}
/* As we are hiding the radio buttons we will make the switch glow when the radio button receives focus. We need to use some sibling selectors. */
.toggle-bg input:focus + .switch, .toggle-bg input:focus + input + .switch, .toggle-bg input:hover + .switch, .toggle-bg input:hover + input + .switch {
	box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2, 0 0 4px 2px #3366dd;
}
.switch{
	cursor: pointer;
	background: #ffffff;
	border-radius: 1em;
	box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
	display: inline-block;
	left: -1px; /* This is the starting point. When adding a border radius, a small bit of the background is shown if we use left: 0;, so -1px is best.*/
	position: absolute;
	top: 0; /* ...To keep it centered vertically */
	transition: left .25s ease;
	z-index: 1; /* Remember, it must be below the invisible inputs */
}
.toggle-bg input:checked~.switch{ left: -1px; } /* initial toggle position */
.toggle-bg input~:checked~.switch{ left: 1.25em; } /* final relative toggle position */
.toggle-bg input:checked{ z-index: 0; }
.toggle-bg, .toggle-bg input, .switch, .toggleinput label { height: 1.25em; }
.toggle-bg, .toggle-bg input { width: 2.5em; }
.toggle-label1, .toggle-label2 { top: -0.25em; }
.switch { width: 1.25em; }


/* Define border colours */
#bar, .dropdown, .dropdown.fullwidth h3 { border-color: #606060; }
#scenariolist li { border-color: #d6d6d6; }











/* Responsive styling for narrower screens */

@media only screen and (max-width: 1024px){
	#summaryext.dropdown.fullwidth>ul>li { width: 50%; }
	#summaryext.dropdown.fullwidth>ul>li:nth-child(3n+1) { clear: none; }
	#summaryext.dropdown.fullwidth>ul>li:nth-child(2n+1) { clear: both; }

	#main { display: block; height: auto; }
	#main #menubar { display: none; }
	#main #menu, #main #sidebar, #main #output { display: block; width: 100%; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
	.designer { display: block; }
	#designer .designer_title { display:block; font-size: 1em; margin-bottom: 0px; }
	#designer .designer_title a { border-top: 1px solid #202020; }
	#sidebar { border-left: 2px solid white; }
}
@media only screen and (max-width: 700px){
	#bar { height: 2.5em; }
	.baritem a { padding: 0.5em 0.25em; height: 2.5em; }
	.baritem span { margin: 0; }
	.barmenu .baritem span { margin: 0; }
	#menu { left: 0; width: 100%; border-left: 0px; }
	#menu .baritem span { margin-left: 0.5em; }
	.togglebtn { padding-left: 0.25em; }
	#summaryext.dropdown.fullwidth>ul>li { width: 100%; }
	#summaryext.dropdown.fullwidth>ul>li { clear: both; float: none; }
	.padded { padding: 0.5em; }
	.bigpadded { padding: 1em; }
	.hugepadded { padding: 2em; }
	#guide figure.four figure { width: 48%; width: -webkit-calc(50% - 0.5em); width: calc(50% - 0.5em); }
	#guide figure.four figure:nth-child(2n) { margin-right: 0; }
	table { width: 100%; }
	table td, table th { padding: 0.25em; }
	#summary { height: 2.5em; overflow: hidden; }
	#designer .designer_title a { padding: 0.5em; height: auto; }
	#main .doc { padding: 2em 1em 1em 1em; }
}
@media only screen and (max-width: 550px){
	#application { background-image: url('../images/bg_small.jpg'); }
	#bar { padding: 0; }
	.dropdown .baritem a { padding: 0.5em 1em; height: 2.5em; }
	#summary .baritem img.icon, .baritem .togglewarning img.icon, .baritem .toggleerror img.icon { display: none; }
	.dropdown { top: 2.5em; background-image: none; }
	#page { padding-top: 0em; padding-bottom: 0px; margin-top: 2.5em; }
	.view, #intro, #guide, #scenarios { padding: 1.5em; width: 100%; max-width: 100%; border-radius: 0px; }
	#guide figure.left,#guide figure.right, #guide figure.four figure {
		float: none;
		width: 100%;
		margin: 0 0 1em 0;
	}
	#guide ul.index li { margin-right: 0em; margin-left: 0px; width: 100%; }
	#scenariolist li { margin-right: 0em; width: auto; }
	#designer_site li select { float: none; }
	#designer_instruments li input { width: 7em; }
	.questions { clear: both; }

	#designer .designer_title a { height: auto; }

	#main .doc { padding: 2em 0.5em 0.5em 0.5em; }

	.noscriptmsg { margin-top: -2em; margin-bottom: 0; }
}